body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('https://pt.wallpapers.com/imagens/umcampo-verde-com-arvores-e-uma-fazenda-rrmrelck3dyfpu5i');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #fff;
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
